{% extends "base.html" %}

{% block title %}Search Profiles{% endblock %}

{% block content %}
<div class="container">
    <h1>Search Profiles</h1>
    <form method="get" action="{% url 'Profile:search_profiles' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    {% if query %}
        <h2>Results for '{{ query }}':</h2>
        <div class="profiles-list">
            {% for profile in results %}
                <div class="profile">
                    <a href="{% url 'Profile:public_profile' profile.user.username %}">
                        <img src="{{ profile.profile_picture.url }}" alt="{{ profile.user.username }}" />
                        <h3>{{ profile.user.username }}</h3>
                    </a>
                </div>
            {% empty %}
                <p>No profiles found.</p>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
