.item-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
}

.checked {
    text-decoration: line-through;
    border-color: #58c458;
    border-radius: 5px;
    border-width: 3px;
    background-color: #8bfc8b;
}

.not-checked {
    text-decoration: none;
    border-color: #ce5b5b;
    border-radius: 5px;
    border-width: 3px;
    background-color: #fd9f9f;
}