{% extends "baseAlt.html" %}
{% load static %}

{% block title %}
Pre-Arrival Checklist
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/checklist.css' %}">
{% endblock %}

<body>
    {% block content %}
    <h1 class="text-center display-1 headTitle">Pre-Arrival Checklist</h1>
    <div class="container-sm">
        <div class="row">
            <!-- Task #1 -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                <div class="card task1 mt-2" id="card1" >
                    <div class="card-header">
                        Task #1
                    </div>
                    <div class="card-body">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox1" {% if task1 %}checked{% endif %}>
                            <label class="form-check-label" for="checkbox1">
                                Visit the <a href="https://www.nutritics.com/menu/ma4021">Hamilton Dining Center Website</a> and write down some of your favorite items
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Task #2 -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                <div class="card task2 mt-2" id="card2" >
                    <div class="card-header">
                        Task #2
                    </div>
                    <div class="card-body">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox2" {% if task2 %}checked{% endif %}>
                            <label class="form-check-label" for="checkbox2">
                                Visit the <a href="/dorms/info/">dorms page</a> and select a potential dorm room
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Task #3 -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                <div class="card task3 mt-2" id="card3" >
                    <div class="card-header">
                        Task #3
                    </div>
                    <div class="card-body">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox3" {% if task3 %}checked{% endif %}>
                            <label class="form-check-label" for="checkbox3">
                                Check out our <a href="https://catalog.ncf.edu/undergraduate/">Academic catalog</a> and take a look at some potential classes that interest you
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Task #4 -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                <div class="card task4 mt-2" id="card4" >
                    <div class="card-header">
                        Task #4
                    </div>
                    <div class="card-body">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox4" {% if task4 %}checked{% endif %}>
                            <label class="form-check-label" for="checkbox4">
                                Check out the <a href="https://www.ncf.edu/directory/">faculty list</a> and write down some professors you want to talk to when you get to school
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Task #5 -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                <div class="card task5 mt-2" id="card5" >
                    <div class="card-header">
                        Task #5
                    </div>
                    <div class="card-body">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox5" {% if task5 %}checked{% endif %}>
                            <label class="form-check-label" for="checkbox5">
                                Go over to the <a href="https://www.ncf.edu/life-at-new/health-well-being/campusrec/">facilities page</a> and find a resource on campus you want to check out, like the boathouse or the bikeshop
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Task #6 -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                <div class="card task6 mt-2" id="card6" >
                    <div class="card-header">
                        Task #6
                    </div>
                    <div class="card-body">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox6" {% if task6 %}checked{% endif %}>
                            <label class="form-check-label" for="checkbox6">
                                Explore the <a href="https://www.ncf.edu/library/">campus library</a> and find a book you want to read
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Task #7 -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                <div class="card task7 mt-2" id="card7" >
                    <div class="card-header">
                        Task #7
                    </div>
                    <div class="card-body">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox7" {% if task7 %}checked{% endif %}>
                            <label class="form-check-label" for="checkbox7">
                                Attend a <a href="https://apply.ncf.edu/portal/campus-visits">campus tour</a> and take note of important locations
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Task #8 -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                <div class="card task8 mt-2" id="card8" >
                    <div class="card-header">
                        Task #8
                    </div>
                    <div class="card-body">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox8" {% if task8 %}checked{% endif %}>
                            <label class="form-check-label" for="checkbox8">
                                Research <a href="https://novoconnect.ncf.edu/">clubs and organizations</a> on campus and choose one to join
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Task #9 -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                <div class="card task9 mt-2" id="card9" >
                    <div class="card-header">
                        Task #9
                    </div>
                    <div class="card-body">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox9" {% if task9 %}checked{% endif %}>
                            <label class="form-check-label" for="checkbox9">
                                Find out about <a href="https://novoconnect.ncf.edu/">campus events</a> happening during your first week
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Task #10 -->
            <div class="col-lg-4 col-md-6 col-sm-12 mx-auto mb-2">
                <div class="card task10 mt-2" id="card10" >
                    <div class="card-header">
                        Task #10
                    </div>
                    <div class="card-body">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox10" {% if task10 %}checked{% endif %}>
                            <label class="form-check-label" for="checkbox10">
                                Familiarize yourself with the <a href="https://travel.usnews.com/Sarasota_FL/Getting_Around/">campus transportation</a> options
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-2 mb-5">
        <button id="reset-button" class="btn btn-primary">Reset</button>
    </div>
    {% endblock %}

    {% block scripts %}
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js"></script>
    <script src="{% static 'js/checklist.js' %}"></script>
    {% endblock %}

</body>
</html>