{% extends "baseAlt.html" %}
{% load static %}

{% block title %}
Leaderboard
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/leaderboard.css' %}">
{% endblock %}

{% block content %}



<div class="container mt-5">
  <h1 class="text-center ">LEADERBOARD</h1>
  <div class="table-responsive">
    <table class="table">
      <thead class="table-light">
        <tr>
          <th scope="col">Rank🏆</th>
          <th scope="col">Name😺</th>
          <th scope="col">Score🥳</th>
        </tr>
      </thead>
      <tbody>
        {% for player in players %}
        <tr class="{% cycle 'table-primary' 'table-secondary' 'table-success' 'table-danger' 'table-warning' 'table-info' 'table-light' %}">
          <th scope="row">{{ player.rank }}</th>
          <td>{{ player.name }}</td>
          <td>{{ player.score }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}