<!--NAV SECTION-->
<div class="col-3 nav-section rounded">
    <div class="bg-primary nav-links">
        <div class="nav-divider">Novo-Planning</div>
        <div><a href="{% url 'calendar' %}">🗓️ Calendar</a></div>
        <div><a href="{% url 'ncfhours' %}">📚 NCF Hours</a></div>
        <div><a href="{% url 'todo' %}">📝 To-Do M</a></div>
        <div><a href="{% url 'bilgestodo' %}">🧿 To-Do B</a></div>
        <div><a href="{% url 'dontkillmefood' %}">🍔 Don't Kill Me Food</a></div>
        <div class="nav-divider">Novo-Gadgets</div>
        <div><a href="{% url 'timer' %}">⏲️ Timer</a></div>
        <div><a href="{% url 'cycreq' %}">🚸 CYC/AOC Tracker</a></div>
        <div><a href="{% url 'surprise' %}"><img src="{% static 'images/magicwand.png' %}" alt="Surprise" style="display: block; margin-left: auto; margin-right: auto;"></a></div>
        <img src="{% static 'images/logo.png' %}" alt="logo" class="logo">
    </div>
</div>