{% extends 'base.html' %}
    
{% block title %}Shopping List{% endblock %}

{% block extendHeader %}
<style>
    .item-box {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
        background-color: white;
    }
</style>
{% endblock %}

{% block content %}    
<div class="align-items-center">
    {% if user.is_authenticated %}
    <div class="item-box">
        <h1>Shopping List</h1>
        <a href="https://www.amazon.com/hz/wishlist/ls/1MYC1SQ5AHTOC?ref_=wl_share" target="_blank">Premade wishlist of what you might need (remember to shop around for your favoirte brands and to stay in budget)</a>
        <p class="pt-3">A helpful list of things you may need to buy for your college journey!</p>
    
        {% for category in itemCategories %}
            <h3>{{ category }}</h3>
            {% for item in shoppingItems %}
                {% if item.category == category %}
                    <div class="item-box d-flex">
                        <label for="item-{{ item.id }}" class="flex-grow-1 p-2">{{ item.name }}</label>
                            <a href="{{ item.url }}" target="_blank" class="p-2">Buy Now</a>
                        <input type="checkbox" id="item-{{ item.id }}" class="p-2" {% if item.checked %}checked{% endif %}>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    {% else %}
    <p>You are not logged in</p>
    {% endif %}
</div>
{% endblock %}
