body {
    background-color: #7BAFD4;
    margin: 5px 10px;
}

.body-cont {
    width: 100%;
    display: flex;
    min-height: calc(100vh - 10px);
}

.nav-section {
    background: rgb(174, 174, 243);
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
}

@media (min-height: 650px) and (min-width: 800px) {
    .nav-section {
        font-size: 1.8rem;
        font-weight: bold;
        padding: 40px 15px;
    }
}

.time {
    font-size: 2.4rem;
    text-align: center;
    font-weight: bold;
}

.create {
    font-size: 1.2rem;
    text-align: center;
    border-radius: 30px;
    padding: 5px 0px;
}

@media (min-height: 650px) and (min-width: 800px) {
    .create {
        font-size: 1.8rem;
        font-weight: bold;
        padding: 10px 0px;
    }
}

.nav-links {
    flex: 1;
    margin-bottom: -20px;
    border-radius: 20px;
    margin-top: 10px;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

@media (min-height: 650px) and (min-width: 800px) {
    .nav-links {
        font-size: 1.3rem;
        color: white;
    }
    .nav-divider {
        font-size: 1.5rem;
    }
    .nav-links a {
        color: white;
        text-decoration: none;
    }
}

.nav-divider {
    background: #655ddf;
    margin: 0px -10px;
    padding: 3px 10px;
    font-weight: bolder;
    font-size: 1.2rem;
}


.modal-header {
    background-color: #007bff; /* Your primary color */
    color: #ffffff; /* Text color */
}
.modal-title {
    font-weight: bold;
}
.modal-content {
    border-radius: 0.5rem; /* Rounded corners for the modal */
}
.modal-body {
    background-color: #f8f9fa; /* Light background for the modal body */
}
.btn-close {
    /* Custom close button styles if needed */
}
.modal-footer {
    border-top: none; /* Remove default border-top */
}
.btn-outline-success {
    border-color: #007bff; /* Match your theme */
    color: #007bff; /* Match your theme */
}
.btn-outline-success:hover {
    background-color: #007bff; /* Match your theme */
    color: #ffffff; /* Match your theme */
}
/* Ensure links in the modal body match your app's link styles */
.modal-body a {
    color: #007bff; /* Primary color for links */
}
.modal-body a:hover {
    text-decoration: underline; /* Underline on hover for links */
}
